* {
    box-sizing: border-box;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.conteiner {
    background: url(./image/first.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: 23px;
    padding-left: 40px;
}
.navigation {
    padding-top: 29px;
    padding-right: 40px;

}
.burger {
    display: none;
}
.nav {
    padding-left: 60px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.nav:hover {
    color: #D28888;
}
.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title {
   width: 991px;
   height: 183px;
   font-weight: 400;
   font-size: 150px;
   line-height: 183px;
   letter-spacing: 0.3em;
}
.title-small {
    padding-top: 70px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.2em;

}
.article {
    width: 100%;
    height:100vh ;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
}
.text-big {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.1em;
}
.text-small {
    padding-top: 35px;
    width: 348px;
    height: 286px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;

}
.image {
    display: flex;
    flex-direction: column;
    padding-left: 157px;
    padding-top: 116px;
}
.pic-b {
    padding-top: 22px;
}
.pic {
    padding: 116px 0px 0px 25px;
}
.inner {
    display: flex;
}
.figure {
    width: 100%;
    height: 625px;
    background-image: url(./image/bg\ 2foot.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.1em;
    margin-top: 92px;
}
.desc {
    width: 721px;
    height: 110px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 34px;
}

.email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin-top: 100px;
}
input::placeholder {
    padding:  40px;
    color: white;
}
input[type="email"] {
    background: none;
    border: none;
}
input[type="email"]:focus {
  outline: none;
}
.line {
    width: 335px;
    height: 1px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 14px;

}
.line {
    width: 335px;
    height: 1px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 14px;

}
button {
    width: 335px;
    height: 64px;
    background: #000000;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-top: 25px;
    border: none;
}
button:hover {
    background: #2B2B2B;
    box-shadow: 0px 0px 50px 5px #813434;
}
button:active {
    background: #AF2A2A;
    box-shadow: 0px 0px 50px 5px #813434;
}
footer {
    height: 89px;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.svg {
    margin-right: 22px;
}

.svg:last-child {
    margin: 0;
}

.svg:hover path {
    fill: #D28888
}

.svg:active path {
    fill: #AF2A2A
}

.support {
    margin-right: 0;
    text-decoration: none;
}



@media screen and (max-width: 1200px) {
    .conteiner {
        width: 100%;
        height: 100vh;

    }
    .burger {
        display: block;
    }
    .navigation {
        padding-top: 15px;
    }
    .nav {
        display: none;
    }
    .main-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .title {
        width: 595px;
        height: 110px;
        font-weight: 400;
        font-size: 90px;
        line-height: 110px;
        letter-spacing: 0.3em;
    }
    .title-small {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.2em;
    }
    .article {
        width: 100%;
        height: 919px;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        margin-top: -1px;
    }
    .text-small {
        padding-top: 37px;
        width: 591px;
        height: 176px;   
    }
    .inner {
        display: flex;
    }
    .image {
        padding-left: 0;
        padding-top:59px;
    }
    .pic {
        padding-top: 59px;
    }
    .desc {
        width: 591px;
        height: 132px;
    }
    .email{
        margin-top: 78px;
    }




}
@media screen and (max-width: 600px) {
    .conteiner {
        width: 100%;
        height: 100vh;
    }
        .burger {
        display: block;
    }
        .main-content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title  {
        width: 265px;
        height: 49px;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.3em;
        padding-top: 0;
    }
    .title-small  {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2em;

    }
    .article {
        display: flex;
        width: 100%;
        height: 1442px;
        margin-top: -1px;
    }
    .text-big {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.1em;        
    }
    .text-small {
        width: 292px;
        height: 260px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;

    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    .pic-n {
        width: 292px;
        height: 186px;
    }
    .pic-b {
        padding-top: 22px;
        width: 292px;
        height: 249px;
    }
    .pic {
        padding-top: 22px;
        padding-left: 0;
    }
    .img {
        width: 292px;
        height: 457px;
    }
    h3 {
        width: 164px;
        height: 34px;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.1em;
        margin-right: 125px;
    }
    .desc {
        width: 292px;
        height: 220px;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-align: left;

    }
    .line {
        width: 292px;
        height: 1px;
    }
    button {
        width: 292px;
        height: 64px;
    }
    footer {
        height: 213px;
        flex-direction: column;
        justify-content: space-evenly;
    }

}